html,body,#code-splitter,#code-splitter .CodeMirror{
  width:100%;
  height:100%;
  margin:0;
}
/* Styles that I like in ACE and Sublime */
#code-splitter .CodeMirror pre,
#code-splitter .CodeMirror .CodeMirror-linenumber {
  font-family: 'source-code-pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace;
  font-size: 16px;
  line-height: 1.3em;
}
#code-splitter .CodeMirror:hover {
  cursor: text;
}
#code-splitter .CodeMirror .cm-matchhighlight:not(.CodeMirror-selectedtext) {
  outline: 1px solid #bbb;
}
#code-splitter .CodeMirror-selected {
  background-color: #333 !important;
}
#code-splitter .CodeMirror-selectedtext {
  color: #eee !important;
  text-decoration: none !important;
  font-style: normal !important;
}
#code-splitter .CodeMirror-focused div.CodeMirror-cursor {
  /* Whatever your cursor color is: */
  border-right: 1px solid black;
}
.cm-error {
  background-color: rgba(255,0,0,0.2) !important
}
.TouchSplitter.hTS{overflow:visible;}
.TouchSplitter .splitter-bar{opacity:0;}
#code-splitter .CodeMirror{box-shadow:0 0 12px rgba(0,0,0,0.2);}

#code-splitter .CodeMirror:hover{cursor:text;}
#code-splitter .CodeMirror-gutters:hover{cursor:default;}
#output-splitter {
  position:absolute;
  top:42px;
  bottom:0;
  left:0;
  right:0;
}
#output pre {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
.cm-s-solarized .CodeMirror-gutters{box-shadow: none}
.splitter-bar{
  background-color: #f5f5f5;
  z-index:4;
  position:relative;
  box-sizing:border-box;
}

.error, .title, .action{font-family: "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;}
.header{width:100%;height:42px; position:relative; background-color: #13ACD3;}
.action, .title {line-height:32px;padding:5px 33px;height:32px;float:left;color:white;margin-right: 2px}
.title {font-size: 19px; color:white;}
.action {background:rgba(0,0,0,.2);}
.action:hover {cursor: pointer}
.error {position:absolute; right:0;top:0;line-height:42px;padding:0 12px;background: #ff756f}
.code {font-family: monospace;}

.dropdown {
  position:relative;
  float:left;
}
.dropdown:hover ul {
  z-index: 5;
  display:block;
}
.dropdown ul {
  position:absolute;
  display:none;
  list-style:none;
  margin:0;
  padding:0;
  top: 42px;
}
.dropdown ul li {background-color: #13ACD3;padding: 10px;width: 200px;}
.dropdown ul li input {width:150px;padding:1px;margin:1px;}
.dropdown ul li span:hover {background: #095A6F;}
.dropdown ul li span {font-weight:bold;cursor:pointer;margin:0;padding:5px;
  color: #FFF;
  display: block;
  background: #067794;
  text-align: center;
}
.dropdown.libraries ul li span {
  line-height: 13px;
  float: right;
  width: 13px;    
}